/* Header */
.logo-part {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196f3;
  }
  
  .logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: black;
  }
  
  .studio,
  .portfolio,
  .contacts {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #212121;
  }
  
  .studio:hover,
  .portfolio:hover,
  .contacts:hover,
  .mail:hover,
  .tel:hover {
    color: #2196f3;
  }
  
  .contact-list {
    font-family: "Roboto";
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-left: 215px;
    margin-right: 215px;
  }
  
  .header-nav-wrapper {
    display: flex;
    gap: 90px;
  }
  
  .header-contacts {
    display: flex;
    gap: 50px;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .header-main {
    height: 600px;
    background-color: #2f303a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
  
  .header-title {
    text-transform: uppercase;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    width: 696px;
    text-align: center;
    color: #fff;
  }
  
  .order {
    width: 216px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    margin-top: 30px;
  }
  /* Main */
  .advantages-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
  }
  
  .adantages-list li {
    width: 270px;
  }
  
  .advantages-discription {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
  }
  
  .adantages-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 94px;
  }
  
  .icon {
    width: 100px;
    margin-left: 60px;
  }
  
  /* Main_Do */
  .what_we-do-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
  
  .what_we-do-list {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  
  .what_we-do-list img {
    width: 370px;
    height: 294px;
  }
  
  .task {
    position: relative;
    text-align: center;
    
  }
  
  .task-title {
    position: absolute;
    font-size: 18px;
    color: white;
    text-align: center;
    top: 175px;
    left: 0px;
    right: 0px;
    padding: 37px;
    background-color: #212121ad;
  }