/* Header */
.header-logo {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-left: 215px;
    margin-top: 24px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-list {
    display: flex;
    font-size: 14px;
    gap: 50px;
    margin-top: 26px;
    margin-right: 200px;
}

li:nth-last-child(3) {
    margin-right: 218px;
}

li:nth-child(3) {
    margin-right: 219px;
}

/* Header-body */
.header-main-text {
    display: flex;
    width: 696px;
    flex-direction: column; 
    color: white;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
    margin: auto;
    padding-top: 200px;
}

button {
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin: auto;
    
}